# Excludes
--exclude Package.swift

# Config
--ranges no-space
--header strip
--commas inline
--maxwidth 120

# Enabled rules
--rules anyObjectProtocol,blankLineAfterImports,blankLinesAroundMark,blankLinesAtEndOfScope,blankLinesAtStartOfScope,blankLinesBetweenScopes,duplicateImports,elseOnSameLine,emptyBraces,fileHeader,indent,isEmpty,leadingDelimiters,linebreakAtEndOfFile,redundantBackticks,redundantBreak,redundantFileprivate,redundantGet,redundantInit,redundantLet,redundantLetError,redundantNilInit,redundantObjc,redundantParens,redundantPattern,redundantRawValues,redundantVoidReturnType,semicolons,spaceAroundBraces,spaceAroundBrackets,spaceAroundComments,spaceAroundGenerics,spaceAroundOperators,spaceAroundParens,spaceInsideBraces,spaceInsideBrackets,spaceInsideComments,spaceInsideGenerics,spaceInsideParens,strongOutlets,strongifiedSelf,todos,trailingCommas,trailingSpace,typeSugar,void,wrapArguments,yodaConditions

# The rest of rules (disabled for now)
# andOperator,braces,consecutiveBlankLines,consecutiveSpaces,hoistPatternLet,linebreaks,numberFormatting,redundantExtensionACL,redundantReturn,redundantSelf,modifierOrder,trailingClosures,unusedArguments