binary "https://api.mapbox.com/downloads/v2/carthage/search-sdk/MapboxSearch.json" == 1.0.0-beta.5
binary "https://api.mapbox.com/downloads/v2/carthage/search-sdk/MapboxSearchUI.json" == 1.0.0-beta.5
binary "https://api.mapbox.com/downloads/v2/carthage/mapbox-common/MapboxCommon.json" ~> 11.0.0
github "mapbox/mapbox-events-ios" ~> 0.10.0
